<p id="notice"><%= notice %></p>

<div class="row">
	<div class= "span6 offste3">
	<div class="well">

<p>
  <%= @pin.description %>
  <%= @pin.user.name %>
</p>
<p>
 ID <%= @pin.user.id %>
</p>
	<% if current_user == @pin.user %>
	<%= link_to 'Edit', edit_pin_path(@pin) %> |
	<%= link_to 'Back', pins_path %>
	<% end %>

	</div>
	</div>
</div>


