<p id="notice"><%= notice %></p>

<div class="row">
	<div class= "span6 offste3">
	<div class="well">

	<%= image_tag @pin.image(:thumb)  %> <!-- ajouter image_tag avant @pin pour afficher l'image elle même, on met "image_tag pin.image" pour avoir l'image initiale --> 

<p>
  <%= @pin.description %>
</p>
<p>
<h4>Nom: <%= @pin.user.name %></h4>
ID: <%= @pin.user.id %>
</p>
	<% if current_user == @pin.user %>
	<%= link_to 'Edit', edit_pin_path(@pin) %> |
	<%= link_to 'Back', pins_path %>
	<% end %>

	</div>
	</div>
</div>


